#education {
    text-align: left;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--bs-border-color);
}

#education h4 {
    margin-bottom: 1rem;
    letter-spacing: 3;
    font-weight: 700;
}

#education .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#education article .organization {
    font-weight: 700;
    color: #fff;
}

#education article .time {
    font-size: 0.8rem;
}

#education article .description {
    font-size: 1rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
    #education article .description {
        font-size: 0.8rem;
    }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
