#certification {
    text-align: left;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--bs-border-color);
}

#certification h4 {
    margin-bottom: 1rem;
    letter-spacing: 3;
    font-weight: 700;
}

#certification article {
    --bs-link-color-rgb: 165, 179, 206;
    --bs-link-hover-color-rgb: 255, 255, 255;

    margin-bottom: 1rem;
}

#certification article:last-child {
    margin-bottom: 0;
}

#certification article header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#certification article header a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

#certification article header:hover a {
    text-decoration: underline;
}

#certification article header .icon {
    font-size: 0.5rem;
}

#certification .description {
    font-size: 0.875rem;
}
