#header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    background-color: var(--theme-background-color);
    border-bottom: 1px solid transparent;
    transition: var(--theme-transition);
    z-index: 2;
}

#header-mobile.scrolled {
    background-color: var(--theme-foreground-background-color-1);
    padding: 0.5rem 1.5rem;
    border-bottom-color: var(--theme-border-color);
}

#header-collapse {
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-color-body);
}

#header-mobile nav {
    overflow: hidden;
    transition: var(--theme-transition);
    flex-basis: 100%;
    flex-grow: 1;
}

#header-mobile nav.collapsing {
    transition: var(--theme-transition);
    height: 0;
}

#header-mobile nav ul {
    padding: 0.5rem 0 0 0;
    margin: 0;
    list-style: none;
}

#header-mobile nav a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--theme-color-muted);
    text-decoration: none;
    font-weight: 500;
    padding: 0.45rem 0.75rem;
    border-radius: 0.25rem;
    min-height: 3rem;
    overflow: hidden;
}

#header-mobile nav a.active {
    color: var(--theme-color-body);
    background-color: var(--theme-foreground-background-color-2);
    border: 1px solid var(--theme-border-color);
}

#header-mobile nav ul.social-network {
    display: flex;
    gap: 0.25rem;
    padding: 0;
}

#header-mobile #language-picker {
    margin-top: 0.5rem;
}

#header-mobile .toggle-theme-container {
    margin-top: 0.5rem;
}

#header-mobile #widget-profile .avatar-wrapper {
    flex-basis: 3rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
    #header-mobile {
        display: none;
    }
}

/* LG  */

@media (min-width: 992px) {
}

/* XL */

@media (min-width: 1200px) {
}

/* XL */

@media (min-width: 1400px) {
}
