#project {
    text-align: left;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--bs-border-color);
}

#project h4 {
    margin-bottom: 1rem;
    letter-spacing: 3;
    font-weight: 700;
}

#project article {
    --bs-link-color-rgb: 165, 179, 206;
    --bs-link-hover-color-rgb: 255, 255, 255;

    margin-bottom: 1rem;
}

#project article:last-child {
    margin-bottom: 0;
}

#project article header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#project article header a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

#project article header:hover a {
    text-decoration: underline;
}

#project article header .icon {
    font-size: 0.5rem;
}

#project article .description {
    --text-line-height: 1.5rem;
    --text-number-line: 2;

    line-height: var(--text-line-height);
    font-size: 0.8rem;
    max-height: 1000px;
    overflow: hidden;
    transition: all 0.75s ease-out;
}

#project article .description.truncate {
    display: -webkit-box;
    -webkit-line-clamp: var(--text-number-line);
    line-clamp: var(--text-number-line);
    -webkit-box-orient: vertical;
    max-height: calc(var(--text-line-height) * var(--text-number-line));
    transition: all 0.75s ease-out;
}

#project .see-more {
    font-family: Lato, sans-serif;
    font-weight: 300;
    padding: 0;
    color: var(--theme-color-primary);
}
