#menu-navigation.offcanvas {
    transform: translate(0, 100%);
    width: auto;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    --bs-offcanvas-padding-x: 1.25rem;
    --bs-offcanvas-padding-y: 0;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-bg: transparent;
    --bs-offcanvas-color: #a5b3ce;
    --bs-offcanvas-height: unset;
    visibility: visible;
}

#menu-navigation.offcanvas.show:not(.hiding),
#menu-navigation.offcanvas.showing {
    transform: translate(0, 0);
}

#menu-navigation .offcanvas-body {
    flex-grow: unset;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    text-align: center;
    justify-content: space-around;
}

#menu-navigation .offcanvas-body .link {
    color: #e5dbc6;
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#menu-navigation .offcanvas-body .link.active:hover,
#menu-navigation .offcanvas-body .link.active {
    color: var(--theme-color-primary);
}

#menu-navigation .offcanvas-body .link:hover {
    color: var(--theme-color-primary);
}

#menu-navigation .offcanvas-body .link .icon-holder {
    font-size: 1.2rem;
}

#menu-navigation .offcanvas-body .link .nav-text {
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG  */

@media (min-width: 992px) {
    #menu-navigation.offcanvas {
        transform: translate(-100%, 0);
        width: auto;
        top: 0;
        right: unset;
        --bs-offcanvas-padding-x: 0;
        --bs-offcanvas-padding-y: 1rem;
    }

    #menu-navigation .offcanvas-body {
        flex-direction: column;
        background: rgba(0, 0, 0, 0.1);
        margin-left: 0;
        border-radius: 6px;
    }
}

/* XL */

@media (min-width: 1200px) {
}

/* XL */

@media (min-width: 1400px) {
}
