#profile {
    text-align: center;
}

#profile h1 {
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: 5px;
}

#profile p {
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
}

#profile .profile-image {
    max-width: 8rem;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
    top: 0;
    border: 0.5rem solid var(--theme-color-primary);
    box-shadow: var(--bs-box-shadow);
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
    #profile .profile-image {
        max-width: 10rem;
        transform: translate(-50%, -50%);
    }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
