.toast-container {
    position: fixed;
    top: 6rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-component-gap-md);
    z-index: 9999;
    align-items: end;
}

.toast {
    position: relative;
    max-width: calc(100% - 2rem);
    padding: 1rem 2.25rem 1rem 1rem;
    border-radius: 3px;
    color: #fff;
    font-weight: var(--font-weight-regular);
    animation: slideIn 0.3s ease forwards;
    overflow: hidden;
}

.toast-success {
    background: var(--color-success-600);
}
.toast-error {
    background: var(--color-error-500);
}
.toast-info {
    background: var(--color-info-500);
}
.toast-warning {
    background: var(--color-accent-orange-400);
}

.toast-close {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.toast-close:hover {
    opacity: 1;
}

.toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}

.toast-progress-bar {
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: width 0.05s linear;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* SM ≥ 576px */
@media (min-width: 576px) {
}

/* MD ≥ 768px */
@media (min-width: 768px) {
    .toast-container {
        top: 1rem;
        right: 1rem;
    }

    .toast {
        min-width: 280px;
        max-width: unset;
        font-weight: var(--font-weight-medium);
    }
}

/* LG ≥ 992px */
@media (min-width: 992px) {
}

/* XL ≥ 1200px */
@media (min-width: 1200px) {
}

/* XXL ≥ 1400px */
@media (min-width: 1400px) {
}
