#language-picker .btn {
    --bs-btn-color: #a5b3ce;
    --bs-btn-bg: rgba(0, 0, 0, 0.1);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(0, 0, 0, 0.1);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(0, 0, 0, 0.1);
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: transparent;

    --bs-btn-font-size: 1rem;

    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#language-picker .dropdown-menu {
    --bs-dropdown-min-width: 3rem;
    --bs-dropdown-color: #fff;
    --bs-dropdown-bg: rgba(0, 0, 0, 0.1);
    --bs-dropdown-border-color: transparent;

    text-transform: uppercase;
}

#language-picker .dropdown-item {
    --bs-dropdown-link-color: #a5b3ce;
    --bs-dropdown-link-hover-color: #fff;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

#language-picker .dropdown-item:focus,
#language-picker .dropdown-item:hover {
    background-color: transparent;
}
