#language {
    text-align: left;
    padding-bottom: 2rem;
}

#language h4 {
    margin-bottom: 1rem;
    letter-spacing: 3;
    font-weight: 700;
}

#language .list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

#language .list li {
    margin-bottom: 1rem;
}

#language .list li:last-child {
    margin-bottom: 0;
}

#language .list .name {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #fff;
}

#language .list .indicator {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

#language .list .indicator > * {
    background-color: #e5dbc6;
    min-height: 10px;
    border-radius: 2px;
    width: 100%;
}

#language .list .indicator > *.full {
    background-color: var(--theme-color-primary);
}
