#language-picker {
    position: relative;
}

#language-picker button {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--space-component-gap-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-muted);
    font-size: var(--text-sm);
    padding: 0.2rem 0.5rem;
}

#language-picker ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    right: 0;
    background-color: var(--color-surface-2);
    transition: var(--transition-base);
}

#language-picker ul:not(.show) {
    display: none;
}

#language-picker li {
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    gap: var(--space-component-gap-sm);
    text-transform: uppercase;
    font-size: var(--text-sm);
    color: var(--color-text-muted);

}

#language-picker li:hover {
    background-color: var(--color-surface-2);
}
