@import "./tokens/breakpoints.css";
@import "./tokens/colors.css";
@import "./tokens/typography.css";
@import "./tokens/spacing.css";
@import "./tokens/motion.css";
@import "./tokens/shadows.css";

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family-base);
    line-height: var(--line-height-normal);
}

*,
::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    margin-top: 0;
}

a {
    transition: var(--transition-base);
    text-decoration: none;
}

a:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}
