@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    src: local("Roboto"), url(./Roboto-Thin.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: local("Roboto"), url(./Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: local("Roboto"), url(./Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto"), url(./Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto"), url(./Roboto-Bold.otf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    src: local("Roboto"), url(./Roboto-Black.ttf);
}

/* Italic */

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    src: local("Roboto"), url(./Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    src: local("Roboto"), url(./Roboto-LightItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    src: local("Roboto"), url(./Roboto-Italic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    src: local("Roboto"), url(./Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
    src: local("Roboto"), url(./Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
    src: local("Roboto"), url(./Roboto-BlackItalic.ttf);
}
