#project-list {
    margin-top: var(--space-xl);
}

#project-list > h2 {
    margin: 0 0 var(--space-6) 0;
}

#project-list .list {
    display: grid;
    gap: var(--space-xl);
    grid-template-columns: var(--grid-cols-1);
    margin-bottom: var(--space-xl);
}

#project-list .view-all-button {
    margin-bottom: var(--space-xl);
}

/* SM ≥ 576px */
@media (min-width: 576px) {
    /* ... */
}

/* MD ≥ 768px */
@media (min-width: 768px) {
    #project-list .list {
        grid-template-columns: var(--grid-cols-2);
    }
}

/* LG ≥ 992px */
@media (min-width: 992px) {
    /* ... */
}

/* XL ≥ 1200px */
@media (min-width: 1200px) {
    /* ... */
}

/* XXL ≥ 1400px */
@media (min-width: 1400px) {
    /* ... */
}
