#background-animated {
    background: linear-gradient(-45deg, #46526b, #19202e, #19202e, #46526b);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;

    position: fixed;
    inset: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
