html,
body {
    font-size: var(--theme-font-size);
}

body {
    margin: 0;
    background-color: #171717;
    color: #f5f5f5;
    font-family: "Roboto", sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    transition: var(--theme-transition);
    text-decoration: none;
}

button {
    transition: var(--theme-transition);
    background-color: #1c1c1c;
    border: 1px solid #242424;
    color: var(--theme-color-muted);
    cursor: pointer;
    border-radius: 3px;
}

.btn {
    --theme-transition-property: color,background-color,border
    transition: var(--theme-transition);
    color: #f5f5f5;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: #2b2b2b;
    border: 1px solid #383838;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover {
    opacity: 0.64;
}

.btn.btn-secondary {
    background-color: #1c1c1c;
    border: 1px solid #242424;
}

.btn:hover {
    opacity: 0.64;
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

main .container {
    width: 100%;
    max-width: 900px;
    margin: 7.25rem auto;
    padding: 0 1.5rem;
}

hr {
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #242424;
    border-left: 0;
    margin: 0;
}

.page-title {
    font-size: 3rem;
    margin: 0 0 1.25rem;
    line-height: 1;
}

.page-summary {
    font-size: 1.25rem;
    line-height: 1.625;
    color: var(--theme-color-muted);
    margin: 0 0 3rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
    #root {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* LG  */

@media (min-width: 992px) {
}

/* XL */

@media (min-width: 1200px) {
}

/* XL */

@media (min-width: 1400px) {
}
