#skill-slider {
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
}

section#skill .splide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#skill [data-tpl="experience-row"] [data-tpl="item"] {
    padding: 1rem;
    background-color: transparent;
    transition: all .5s ease-in-out;
    border-radius: 0.5rem;
}

section#skill [data-tpl="experience-row"] [data-tpl="item"]:hover {
    background-color: #303e59;
}

section#skill [data-tpl="experience-row"] [data-tpl="icon-wrapper"] {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid #F0FFF0;
	color: #d7dde9;
    margin-right: auto;
	margin-bottom: 1.125rem;
    margin-left: auto;
    font-size: 2rem;
    transition: all .5s ease-in-out;
}

section#skill [data-tpl="experience-row"] [data-tpl="item"]:hover [data-tpl="icon-wrapper"] {
    background-color: #F0FFF0;
    color: #1e2738;
}

section#skill [data-tpl="experience-row"] [data-tpl="item"] [data-tpl="item-title"] {
    margin-bottom: 1rem;
    color: #F0FFF0;
}