#project-list-content .project-list{display:grid;gap:2rem;grid-template-columns:repeat(1,minmax(0,1fr))}@media (min-width: 768px){#project-list-content .project-list{grid-template-columns:repeat(2,minmax(0,1fr))}}
