header.top-bar {
    padding: 1.5rem 0;
    min-height: 60px;
    position: relative;
}

header.top-bar .navbar {
    --bs-navbar-padding-y: 0;
}

header.top-bar .menu-toggler {
    color: #d7dde9;
    z-index: 1050;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    transform: translateY(-50%);
}

header.top-bar .menu-toggler:hover {
    color: #d7dde9;
}

#social-list {
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

#social-list a {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    color: #a5b3ce;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#social-list a:hover,
#social-list a:focus {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

.top-btn-contact {
    position: absolute;
    right: 0;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
    .top-btn-contact {
        font-size: 0.8rem;
    }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
