#skill-content .skill-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#skill-content .skill-list .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#skill-content .skill-list .item .image-wrapper {
    width: 3rem;
    background-color: var(--theme-foreground-background-color-1);
    border: 1px solid var(--theme-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-radius: 3px;
}

#skill-content .skill-list .item img {
    max-width: 100%;
    height: auto;
}

#skill-content .skill-list .item p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
