.loading {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    z-index: 6;
}

.loader {
    width: 90px;
    height: 14px;
    box-shadow: 0 3px 0 var(--color-primary);
    background: repeating-linear-gradient(90deg, var(--color-primary) 0 14px, var(--color-bg) 0 100%) 0 0 / calc(100% / 4) 100%;
    animation: l1 1s infinite linear;
}

@keyframes l1 {
    100% {
        background-position: calc(100% / 3) 0;
    }
}
