#experience-content {
    margin-bottom: var(--space-xl);
}

#experience-content article {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    margin-bottom: var(--space-md);
}

#experience-content article > * {
    margin: 0;
}

#experience-content article h2 {
    font-size: var(--text-3xl);
}

#experience-content article .experience-meta {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    color: var(--color-text-muted);
}

#experience-content article .experience-meta .company {
    font-weight: var(--font-weight-medium);
    color: var(--color-primary);
}

#experience-content article .date {
    display: flex;
    gap: var(--space-2xs);
}

#experience-content article ul {
    color: var(--color-text-muted);
    line-height: var(--line-height-loose);
}

/* SM ≥ 576px */
@media (min-width: 576px) {
    /* ... */
}

/* MD ≥ 768px */
@media (min-width: 768px) {
    /* ... */
}

/* LG ≥ 992px */
@media (min-width: 992px) {
    /* ... */
}

/* XL ≥ 1200px */
@media (min-width: 1200px) {
    /* ... */
}

/* XXL ≥ 1400px */
@media (min-width: 1400px) {
    /* ... */
}
