#skill {
    text-align: left;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--bs-border-color);
}

#skill [data-tpl="title"] {
    margin-bottom: 1rem;
    letter-spacing: 3;
    font-weight: 700;
}

#skill [data-tpl="list"] {
    list-style: none;
    padding: 0;
}

#skill [data-tpl="list"] [data-tpl="item"] {
    margin-bottom: 1.5rem;
}

#skill [data-tpl="list"] [data-tpl="item"]:last-child {
    margin-bottom: 0;
}

#skill [data-tpl="name"] {
    margin-bottom: 0.25rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
}

#skill [data-tpl="item"] .progress {
    --bs-progress-height: 0.3rem;
    --bs-progress-border-radius: 0.3rem;
    --bs-progress-bg: #fec14b;
    --bs-progress-bar-bg: #c38d0b;
}
