footer {
    padding: 0.75rem;
    background-color: var(--color-surface-1);
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;
}

footer p {
    color: var(--color-text-muted);
    margin: 0;
    font-size: 0.875rem;
}

/* SM */

@media (min-width: 576px) {
    footer {
        flex-direction: row;
        padding: 1.5rem;
        gap: 1rem;
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* MD */

@media (min-width: 768px) {
}

/* LG  */

@media (min-width: 992px) {
}

/* XL */

@media (min-width: 1200px) {
}

/* XL */

@media (min-width: 1400px) {
}
