html {
    font-size: var(--font-size);
}

.tooltip {
    --bs-body-bg: #fff;
}

section .title {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.5rem;
}

.card {
    --bs-card-border-radius: 0.5rem;
    --bs-card-bg: #1e2738;

    max-width: 960px;
    margin: calc(8rem * 0.8) auto 2.5rem;
    box-shadow: var(--bs-box-shadow);
}

.card .card-body {
    padding: 1.5rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
    .card {
        margin: 5rem auto 2.5rem;
    }

    .card .card-body {
        padding: 3rem 3rem 3rem 3rem;
    }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
