html {
    font-size: var(--font-size);
}

.tooltip {
    --bs-body-bg: #fff;
}

section .title {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: left;
    font-size: 1.5rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
