:root {
    --font-size: 14px;

    --bs-body-color: #a5b3ce;

    --bs-body-bg: #19202e;
    --bs-body-font-family: "Roboto", sans-serif;

    --bs-heading-color: #f0fff0;

    --bs-border-color: rgba(255, 255, 255, 0.2);

    --theme-color-primary: #c38d0b;
}

/* SM */

@media (min-width: 576px) {
    :root {
        --font-size: 14px;
    }
}

/* MD */

@media (min-width: 768px) {
    :root {
        --font-size: 14px;
    }
}

/* LG  */

@media (min-width: 992px) {
    :root {
        --font-size: 15px;
    }
}

/* XL */

@media (min-width: 1200px) {
    :root {
        --font-size: 16px;
    }
}

/* XL */

@media (min-width: 1400px) {
}
