#homepage-about .page-summary {
    max-width: 41rem;
}

#homepage-about .group-button {
    display: flex;
    gap: var(--space-xs);
}

#homepage-about .group-button .btn.email {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.homepage-hr {
    margin-bottom: var(--space-xl);
}

/* SM ≥ 576px */
@media (min-width: 576px) {
    /* ... */
}

/* MD ≥ 768px */
@media (min-width: 768px) {
    /* ... */
}

/* LG ≥ 992px */
@media (min-width: 992px) {
    /* ... */
}

/* XL ≥ 1200px */
@media (min-width: 1200px) {
    /* ... */
}

/* XXL ≥ 1400px */
@media (min-width: 1400px) {
    /* ... */
}
