#homepage {
    margin: calc(8rem * 0.8) auto 2.5rem;
}

#homepage .card-body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
    #homepage {
        margin: 5rem auto 2.5rem;
    }

    #homepage .card-body {
        padding: 6rem 3rem 3rem 3rem;
    }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
