#homepage {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1.5rem;
    margin: 5rem auto 2.5rem auto;
    background-color: #1e2738;
    border-radius: 0.5rem;
    max-width: 960px;
    text-align: center;
    position: relative;
}

section#resume .inner [data-tpl="subtitle"] {
    margin-bottom: 1.5rem;
}

section#resume [data-tpl="experience"] {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section#resume [data-tpl="experience"] [data-tpl="title"] {
    margin-bottom: 1rem;
    letter-spacing: 3;
    font-weight: 700;
}

section#resume [data-tpl="experience"] [data-tpl="resume-timeline"] {
    padding-left: 2.5rem;
    position: relative;
}

section#resume [data-tpl="experience"] [data-tpl="resume-timeline"]:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    left: 1.25rem;
    top: 0;
    position: absolute;
}

section#resume [data-tpl="experience"] [data-tpl="item"] {
    position: relative;
    margin-bottom: 1.5rem;
}

section#resume
    [data-tpl="experience"]
    [data-tpl="resume-timeline"]
    > [data-tpl="item"]:last-child {
    margin-bottom: 0;
}

section#resume [data-tpl="experience"] [data-tpl="item"]:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: calc(-1.25rem - 3px);
    top: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #a5b3ce;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

section#resume [data-tpl="experience"] [data-tpl="item"] [data-tpl="header"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#resume
    [data-tpl="experience"]
    [data-tpl="item"]
    [data-tpl="header"]
    [data-tpl="time"] {
    font-size: 0.8rem;
}

section#resume
    [data-tpl="experience"]
    [data-tpl="item"]
    [data-tpl="header"]
    [data-tpl="company-name"] {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: 600;
    font-size: 0.8rem;
}

section#resume
    [data-tpl="experience"]
    [data-tpl="item"]
    [data-tpl="description"]
    ul {
    padding-left: 1rem;
}

section#resume
    [data-tpl="experience"]
    [data-tpl="item"]
    [data-tpl="description"]
    ul
    li {
    margin-bottom: 0.5rem;
}

/* SM */

@media (min-width: 576px) {
}

/* MD */

@media (min-width: 768px) {
}

/* LG */

@media (min-width: 992px) {
    #homepage {
        padding: 6rem 3rem 3rem 3rem;
    }
}

/* XL */

@media (min-width: 1200px) {
}

/* XXL */

@media (min-width: 1400px) {
}
